footer {
    height: 50px;
    width: 100%;
    min-width: 315px;
    background-color: bisque;
    color: #000000;
    text-align: center;
    bottom: 0;
    position: fixed;
    padding: 12px 24px; /* Espacement interne (haut/bas gauche/droite) */
  }